.button-danger {
    background-color: red;
    border-color: red;
}

.button-inverse {
	background-color: black;
    border-color: black;	
}


.pagination a.active {
	background-color: #994DC5 !important;
}